volumes:
  mongo_dbdata:
  user_data:
  mongo_backup:

services:
  fist:
    build: .
    restart: always
    depends_on:
      - mongo
    environment:
      - MONGO_URL=mongodb://mongo/volunteers
      - ROOT_URL=${ROOT_URL:-https://fist.nobodies.team}
      - MAIL_URL=${MAIL_URL}
      - NOONER_HUNT_API=${NOONER_HUNT_API:-https://fistbump.goingnowhere.org/huntthenooner}
      - NOONER_HUNT_KEY=${NOONER_HUNT_KEY}
      - NODE_ENV=production
    ports:
      - "3000:3000"
    volumes:
      - user_data:/home/node/bundle/bundle/programs/server/profilePictures

  mongo:
    image: mongo:4.4.18
    command: mongod --storageEngine=wiredTiger
    restart: always
    volumes:
      - mongo_dbdata:/data/db

  # TODO Switch this out for a different image, e.g. one with simple recovery instructions
  mongo-backup:
    image: tiredofit/mongodb-backup
    restart: always
    depends_on:
      - mongo
    environment:
      - DB_HOST=mongo
      - DB_DUMP_FREQ=720
      - DB_DUMP_BEGIN=0300
      - DB_CLEANUP_TIME=8640
      - MD5=TRUE
      - COMPRESSION=XZ
    volumes:
      - mongo_backup:/backups
